html {
    background-image: linear-gradient(rgb(193, 238, 229), rgb(75, 234, 202));
  }

#container {
  width: 800px;
  margin: 0 auto;
}

  p {
    font-family: "Trebuchet MS", "Tahoma", sans-serif;
    text-indent: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
h3, h2, h1 {
    font-family: "Trebuchet MS", "Tahoma", sans-serif;
}

h1 {
  background-color: #1abc9c;
  padding: 8px;
  border-style: groove;
  border-color: darkcyan;
  border-radius: 20px;
  width: 50%;
  text-align: center;
  margin: 20px auto;
}

h2 {
  text-align: center;
  font-size: 1.3em;
}

h3 { 
  border-left: 20px double #000;
  padding-left: 15px;
  border-radius: 20px;
}
img {
  float: left;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: #1abc9c;
  animation-name: images;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  margin: 10px 10px 10px 10px;
  position: static;
}

@keyframes images {
    from {border-color: #1abc9c;}
    to {border-color: darkcyan;}
}

.header {
    padding: 3px;
    text-align: center;
    background: #1abc9c;
    color: #1abc9c;
    font-size: 1px;
    animation-name: headers;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    clear: both;
}

a:link {
  color: rgb(0, 136, 136);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 107, 107);
}

a:hover {
  color: rgb(0, 70, 70);
  text-decoration: underline;
}

a:active {
  color: #000;
}

#bible {
  float: right;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
  border-radius: 5px;
}