html {
    background-image: linear-gradient(rgb(193, 238, 229), rgb(75, 234, 202));
  }

#container {
  width: 1000px;
  margin: 0 auto;
}

  p {
    font-family: "Trebuchet MS", "Tahoma", sans-serif;
    text-indent: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
h3, h2, h1, #sidebar {
    font-family: "Trebuchet MS", "Tahoma", sans-serif;
}

h1 {
  background-color: #1abc9c;
  padding: 8px;
  border-style: groove;
  border-color: darkcyan;
  border-radius: 20px;
  width: 50%;
  text-align: center;
  margin: 20px auto;
}

h2 {
  text-align: center;
  font-size: 1.3em;
}

h3 { 
  border-left: 20px double #000;
  padding-left: 15px;
  border-radius: 20px;
}
img {
  float: left;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: #1abc9c;
  animation-name: images;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  margin: 10px 10px 10px 10px;
  position: static;
}

@keyframes images {
    from {border-color: #1abc9c;}
    to {border-color: darkcyan;}
}

.header {
    padding: 3px;
    text-align: center;
    background: #1abc9c;
    color: #1abc9c;
    font-size: 1px;
    animation-name: headers;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    clear: both;
}

a:link {
  color: rgb(0, 136, 136);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 107, 107);
}

a:hover {
  color: rgb(0, 70, 70);
  text-decoration: underline;
}

a:active {
  color: #000;
}

#bible {
  float: right;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
  border-radius: 5px;
}

#sidebar {
  width: 200px;
  line-height: 25px;
  float: right;
  margin-top: 40px;
  margin-left: 10px;
  border-radius: 20px;
  padding-right: 10px;
  background-color: #1abc9c;
  padding: 8px;
  border-style: groove;
  border-color: darkcyan;
  border-radius: 20px;
}

#sidebar h3{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 60%;
  margin: 0 auto;
  margin-top: 15px;
  border: none;
  background: none;
  font-family: "Trebuchet MS", "Tahoma", sans-serif;
}

@media (max-width: 1200px) {
  #container{
    width: 800px;
  }
  .header {
    margin-left: 8px;
    margin-right: 8px;
  }
  #sidebar {
    font-family: "Trebuchet MS", "Tahoma", sans-serif;
  }
  h3 {
    padding-left: 15px;
  }
}

@media (max-width: 992px) {
  #container{
    width: 100%
  }
  body, p, #container {
    margin: 0;
    border: none;
    padding: 0;
  }
  p {
    padding: 20px;
  }
  #sidebar {
    margin-top: 60px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-family: "Trebuchet MS", "Tahoma", sans-serif;
  }
   .header {
    margin-left: 8px;
    margin-right: 8px;
  }
  h3 {
    padding-left: 15px;
  }
}

@media (max-width:768px) {
  #sidebar {
    display: none;
  }
  img {
    width: 175px;
  }
   .header {
    margin-left: 8px;
    margin-right: 8px;
  }
  h3 {
    padding-left: 15px;
  }
}